{
    "presets": [
        [
            "env", {
                "targets": {
                    "browsers": ["> 0.25%"]
                }
            }
        ]
    ],
    "plugins": [
        ["transform-react-jsx", {
            "pragma": "m"
        }],
        ["wildcard"],
        ["transform-object-rest-spread"]
    ]
}
